*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
    font-family: 'Courier New', Courier, monospace;
}

html , body{
    height: 100%;
    width: 100%;
}
body{
    background-color: lightseagreen;
    display: flex;
    align-items: center;
    justify-content: center;
}

#container{
    height: 400px;
    width: 350px;
    border-radius: 10px;
    background-color: white;
    position: relative;
    overflow: hidden;
}

#container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
}

#container i{
    color: white;
    font-size: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50% scale(0));
    opacity: 0;
    transition: transform ease 0.5;
}

